<h1>Our Members</h1><br><br>

<ul>
<% @users.each do |u| %>
    <li>
    <%= u.name %>
        <ul>
        <li>
        Workouts Completed: <%= Reservation.past_reservations(u.id).count %>
        </li>
    </li><br><br>
<% end %>