<h1>Welcome, <%= @user.name %>.</h1>

<!-- individual users profile page, shows past workouts completed with scores -->

<%= link_to "Edit Profile", edit_user_path(@user) %>
<%= button_to "Log Out", logout_path %>