<h2>Your Upcoming Reservations</h2>

<!-- list all of the users upcoming reservations -->

<ul>
<% @reservations.each do |r| %>
    <li><%= link_to r.workout.format_name, workout_path(r.workout) %></li>
<% end %>
</ul>