<h2>Your Upcoming Reservations</h2>

<!-- list all of the users upcoming reservations -->

<ul>
<% @reservations.each do |r| %>
    <li>
    <%= link_to r.workout.format_name, workout_path(r.workout) %><br>      <!-- does not display score, fix this -->
    <%= link_to "Change Reservation", edit_user_reservation_path(r.user, r) %><br>
    <%= link_to 'Cancel Reservation', r, method: :delete, data: { confirm: 'Cancel your reservation?' } %>
    </li>
    <br>
<% end %>
</ul>